

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Engenharia e Projeto de Software</h3>
	</div>

	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center col-md-1">#</th>
					<th class="text-center col-md-3">Período</th>
					<th class="text-center col-md-1">Status</th>
					<th class="text-center col-md-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="text-center">Av1</td>
					<td class="text-center">26/02/18 - 17/03/18</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm">Concluído</button>
					</td>
					<td class="text-center col-md-1"><a
						class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-pencil"></span>
							</a>
							<a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-remove"></span>
					</a>
					</td>
				</tr>
				<tr>
					<td class="text-center">Av2</td>
					<td class="text-center">26/02/18 - 24/03/18</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm">Concluído</button>
					</td>
					<td class="text-centercol-md-1 "><a
						class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-pencil"></span>
					</a><a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-remove"></span>
					</a></td>
				</tr>
				<tr>
					<td class="text-center">1CHAM</td>
					<td class="text-center">17/03/2018</td>
					<td>
						<button type="button" class="btn btn-primary btn-sm">Concluído</button>
					</td>
					<td class="text-center"><a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-pencil"></span>
					</a> <a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-remove"></span>
					</a></td>
					
				</tr>
				<tr>
					<td class="text-center">2CHAM</td>
					<td class="text-center">24/03/2018</td>
					<td>
						<button type="button" class="btn btn-danger btn-sm">Pendente</button>
					</td>
					<td class="text-center"><a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-pencil"></span>
					</a> <a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-remove"></span>
					</a></td>
				</tr>
				<tr>
					<td class="text-center">RECUPER</td>
					<td class="text-center">28/04/2018</td>
					<td>
						<button type="button" class="btn btn-warning btn-sm">Recuperação</button>
					</td>
					<td class="text-center"><a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-pencil"></span>
					</a> <a class="btn btn-link btn-xs"> <span
							class="glyphicon glyphicon-remove"></span>
					</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>