

		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Seminários V</h3>
			</div>

			<div class="panel-body">
				<table class="table table-bordered table-striped">
					<thead>
						<tr>
							<th class="text-center col-md-1">#</th>
							<th class="text-center col-md-3">Período</th>
							<th class="text-center col-md-1">Status</th>
							<th class="text-center col-md-1"></th>
						</tr>
					</thead>
					<tbody>
				
							<tr>
							<td class="text-center"></td>
							<td class="text-center">09/04/2018 - 30/06/2018</td>
							<td><button type="button" class="btn btn-danger btn-sm">Pendente</button></td>
							<td class="text-center col-md-1">
							<a class="btn btn-link btn-xs"> <span class="glyphicon glyphicon-pencil"></span></a>
							<a class="btn btn-link btn-xs"> <span class="glyphicon glyphicon-remove"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

		</div>
	