<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout"
	layout:decorator="base">
<head>
<title>Nav Tabs</title>
</head>


<!-- Nav tabs -->
		<ul class="nav nav-tabs" role="tablist">
		
		
			<li role="presentation" class="active">
			<a href="#a" aria-controls="a" role="tab" data-toggle="tab">Engenharia e Projeto de Software</a>
			</li> 
						
			<li role="presentation"><a href="#b" aria-controls="b"
				role="tab" data-toggle="tab">Interação Humano-computador</a></li>
				
			<li role="presentation"><a href="#c" aria-controls="c"
				role="tab" data-toggle="tab">Programação Para Web I</a></li>
			<li role="presentation"><a href="#d" aria-controls="d"
				role="tab" data-toggle="tab">Projeto Orientado a Objetos</a></li>
			<li role="presentation"><a href="#e" aria-controls="e"
				role="tab" data-toggle="tab">Programação Para Web II (optativa)</a></li>
			<li role="presentation"><a href="#f" aria-controls="f"
				role="tab" data-toggle="tab">Sistemas de Computação e Informação</a></li>
			<li role="presentation"><a href="#g" aria-controls="g"
				role="tab" data-toggle="tab">Seminários V</a></li>
			<li role="presentation"><a href="#h" aria-controls="h"
				role="tab" data-toggle="tab">Atividades interdisciplinares </a></li>
		</ul>

</html>