<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrag.net.nz/thymeleaf/layout">
<head>
<title>Nav Tabs</title>
</head>



<!-- Tab panes -->
<div class="tab-content">



	<div role="tabpanel" class="tab-pane active" id="a">
		<div class="panel panel-default">
			<header layout:include="tabpanes/eps"></header>
		</div>
	</div>



	<div role="tabpanel" class="tab-pane" id="b">

		<div class="panel panel-default">
			<header layout:include="tabpanes/ihc"></header>
		</div>

	</div>



	<div role="tabpanel" class="tab-pane" id="c">
		<div class="panel panel-default">
			<header layout:include="tabpanes/pw1"></header>
		</div>
	</div>

	<div role="tabpanel" class="tab-pane" id="d">
		<div class="panel panel-default">
			<header layout:include="tabpanes/poo"></header>
		</div>
	</div>

	<div role="tabpanel" class="tab-pane" id="e">
		<div class="panel panel-default">
			<header layout:include="tabpanes/pw2"></header>
		</div>
	</div>

	<div role="tabpanel" class="tab-pane" id="f">
		<div class="panel panel-default">
			<header layout:include="tabpanes/sci"></header>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="g">
		<div class="panel panel-default">
			<header layout:include="tabpanes/s5"></header>
		</div>
	</div>
	<div role="tabpanel" class="tab-pane" id="h">
		<div class="panel panel-default">
			<header layout:include="tabpanes/ai"></header>
		</div>
	</div>



</div>




</html>